.error-layout {
  @include flex(column);
  gap: 3rem;
  height: 100vh;
  color: $primary;

  &__text {
    margin: 0;
    font-size: 5rem;
  }

  &__description {
    font-size: 3rem;
  }

  &__button {
    @include button;
    margin-top: 2rem;
  }
}
