.authorization {
  @include fullSize;
  @include flex;

  &-card {
    @include flex(column);
    gap: getSize(50);
    padding: getSize(40) getSize(130);
    background-color: $primary;
    border-radius: 25px;
    font-family: Montserrat;
    font-weight: 400;

    &__heading {
      color: $tertiary;
      font-size: getSize(64);
      font-weight: 400;
    }

    &__description {
      color: $tertiary;
      font-size: getSize(36);
    }

    &__label {
      width: getSize(200);
      height: getSize(200);
      border-radius: 50%;
      cursor: pointer;
      background-color: $quaternary;
      overflow: hidden;
      @include inputHover;
      @include flex;

      input {
        display: none;
      }
    }

    &__profile {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__input {
      width: 100%;
      padding: getSize(29);
      font-family: Montserrat;
      font-size: getSize(36);
      background: $quaternary;
      border: none;
      border-radius: 10px;

      &::placeholder {
        color: #a5a5a5;
      }

      @include inputHover;
    }

    &__button {
      @include button;
    }
  }

  &__error {
    border: 1px solid #c42222;
  }
}
