.header {
  @include flex(row, space-between);
  font-family: Montserrat;
  font-weight: 700;
  color: $primary;
  border-bottom: 1px solid $quaternary;

  &-left {
    padding: getSize(20) getSize(60);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary;
    font-size: getSize(40);

    &__heading {
      font-size: inherit;
    }

    &__link {
      font-size: inherit;
    }
  }

  &-right {
    width: 20%;
    @include flex(row, space-between);
    padding: getSize(20) getSize(60);
    border-left: 1px solid $quaternary;

    &__name {
      color: $primary;
      font-size: getSize(40);
      font-weight: 500;
    }

    &__profile {
      width: getSize(80);
      height: getSize(80);
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
